@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  position: relative;
  overflow: hidden;
  background: url('/images/bg-layout.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.image-container-center{
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%,-50%);
}
.image-container-center img{
  max-width: 100%;
  width: 218px;
}
.image-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.glow-image {
  display: block;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-container:nth-child(2){
  position: absolute;
  right: 42%;
  top: 7%;

}
.image-container:nth-child(3){
  position: absolute;
  right: 30%;
  top: 61%;
 
}
.image-container:nth-child(4){
  position: absolute;
  left: 29%;
  top: 61%;
}

.glow-image:hover {
  transform: scale(1.1); 
  filter: brightness(1.2); 
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
/* .glow-image:nth-child(3):hover {
  transform: translate(20px, 20px) scale(1.1);

} */

.home-img-container
{
  position: absolute;
  bottom: 0%;
  left: 47%;
  transition: transform 0.3s ease-in-out, 
}

.home-img-container:hover{
  transform:scale(1.1);

}

.ant-select-disabled:where(.css-dev-only-do-not-override-17a39f8).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  color:#CAC9D5 !important
}



:where(.css-dev-only-do-not-override-17a39f8).ant-select{
    display: flex;
    gap: 6px;
    align-items: center;
}


:where(.css-dev-only-do-not-override-17a39f8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
background-color:transparent;
color: #CAC9D5;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #707070;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-select .ant-select-arrow{
  color: #CAC9D5;
  width: 18px;
  height: 16px;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-radio-group{
  display: flex;
  justify-content: space-between;
}
:where(.css-dev-only-do-not-override-17a39f8).ant-input {
    
  background-color: rgba(0,0,0,0.20) !important;
  border:1px solid #707070 !important;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-radio-wrapper{
    flex-direction:row-reverse;
    gap: 15px;
  }
  :where(.css-dev-only-do-not-override-17a39f8).ant-radio-wrapper .ant-radio-inner{
    border:1px solid #D628E0;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-upload-wrapper.ant-upload-picture-card-wrapper{
  width: auto !important;
  }

  :where(.css-dev-only-do-not-override-17a39f8).ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select, :where(.css-dev-only-do-not-override-17a39f8).ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select{
    background: none;
    border: none;
  }